<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Statistika</h2>
  
    <!-- 
    <div class="my-8">
      <h3 class="text-xl font-semibold mb-2">Poslovi po mesecima</h3>
      <div *ngIf="barChartData">
        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                chartType="bar">
        </canvas>
      </div>
      <div *ngIf="!barChartData">
        <p>No info</p>
      </div>
    </div>
  
    <div class="my-8">
      <h3 class="text-xl font-semibold mb-2">Raspodela poslova medju dekoraterima</h3>
      <div *ngIf="pieChartData">
        <canvas baseChart
                [data]="pieChartData"
                [options]="barChartOptions"
                chartType="pie">
        </canvas>
      </div>
      <div *ngIf="!pieChartData">
        <p>No info</p>
      </div>
    </div>
  
    <div class="my-8">
      <h3 class="text-xl font-semibold mb-2">Prosecan broj poslova po danima u nedelji</h3>
      <div *ngIf="histogramData">
        <canvas baseChart
                [data]="histogramData"
                [options]="barChartOptions"
                chartType="bar">
        </canvas>
      </div>
      <div *ngIf="!histogramData">
        <p>No info</p>
      </div>
    </div> -->
  </div>
  