<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Promena lozinke</h1>
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm" class="space-y-4">
      
      <div class="flex flex-col">
        <label for="oldPassword" class="font-medium">Stara lozinka:</label>
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          [(ngModel)]="passwordData.oldPassword"
          required
          class="p-2 border border-gray-300 rounded-md"
        />
      </div>
  
      <div class="flex flex-col">
        <label for="newPassword" class="font-medium">Nova lozinka:</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="passwordData.newPassword"
          required
          class="p-2 border border-gray-300 rounded-md"
        />
      </div>
  
      <div class="flex flex-col">
        <label for="confirmPassword" class="font-medium">Ponovite novu lozinku:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="passwordData.confirmPassword"
          required
          class="p-2 border border-gray-300 rounded-md"
        />
      </div>
  
      <button
        type="submit"
        class="bg-blue-500 text-white p-3 rounded-md hover:bg-blue-700"
        [disabled]="!passwordForm.valid"
      >
        Promeni lozinku
      </button>
    </form>
  </div>
  